* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
}

h2 {
    font-size: 20px;
}

p {
    text-align: justify;
}

.header_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    color: rgb(45, 3, 230);
}

.headeritem_logo {
    width: 180px;
}

.headeritem_text {
    flex: 1;
}

.headeritem_text h1 {
    font-size: 24px;
    text-align: center;
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.mainitem_nav {
    background-color: #cccccc;
    flex: 1;
    min-width: 160px;
    max-width: 320px;
    width: 20%;
    padding: 20px;
}

.mainitem_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainitem_nav li {
    padding-bottom: 12px;
}

.mainitem_art {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
}

.item_art {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

.item_art_img {
    width: 360px;
    max-width: 100%;
    padding: 10px;
    flex-shrink: 0; /* Nie pozwala obrazkowi się skurczyć poniżej 360px na dużych ekranach */
}

.item_art_text {
    flex: 1;
    padding: 10px;
}

.main_footer {
    width: 100%;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    text-align: center;
    color: rgb(45, 3, 230);
}

/* RESPONSYWNOŚĆ */
@media screen and (max-width: 1024px) {
    .item_art {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .main_container {
        flex-direction: column;
        align-items: stretch;
    }

    .mainitem_nav {
        width: 100%;
        max-width: 769px;
    }
}
