* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 20px;
    width: 100%;
}
p {
    text-align: justify;
}

.main_page {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: repeat(11, auto);
}

.div_head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    grid-area: div_head_area;
}

.div_head h1 {
    color: rgb(45, 3, 230);
    flex: 1 1 auto;
    font-size: 24px;
    text-align: center;
}

.div_nav {
    background-color: #cccccc;
    padding: 20px;
    grid-area: div_nav_area;
}

.mainitem_nav ul {
    list-style-type: none;
    padding: 0;
}

.mainitem_nav li {
    padding-bottom: 12px;
}

.div_art_header {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_header_area;
}

.div_art_img1 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_img1_area;
}

.div_art_text1 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_text1_area;
}

.div_art_img2 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_img2_area;
}

.div_art_text2 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_text2_area;
}

.div_art_img3 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_img3_area;
}

.div_art_text3 {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_text3_area;
}

.div_art_video {
    padding: 10px;
    background-color: #f1f1f1;
    grid-area: div_art_video_area;
}

.div_foot {
    background-color: rgb(182, 182, 182);
    padding: 10px;
    text-align: center;
    color: rgb(45, 3, 230);
    grid-area: div_foot_area;
}

@media screen and (max-width: 1024px){
    .div_art_img1{
        grid-row: 3/4;
        grid-column: 2/4;
        grid-area: div_art_img1_area;
    }
    .div_art_text1{
        grid-row: 4/5;
        grid-column: 2/4;
        grid-area: div_art_text1_area;
    }
    .div_art_img2{
        grid-row: 5/6;
        grid-column: 2/4;
        grid-area: div_art_img2_area;
    }
    .div_art_text2 {
        grid-row: 6/7;
        grid-column: 2/4;
        grid-area: div_art_text2_area;
    }
    .div_art_img3{
        grid-row: 7/8;
        grid-column: 2/4;
        grid-area: div_art_img3_area;
    }
    .div_art_text3{
        grid-row: 8/9;
        grid-column: 2/4;
        grid-area: div_art_text3_area;
    }
}

@media screen and (max-width: 600px) {
    .div_head{
        grid-area: div_head_area;
    }
    .div_nav{
        grid-area: div_nav_area;
    }
    .div_art_header{

        grid-area: div_art_header_area;
    }
    .div_art_img1{

        grid-area: div_art_img1_area;
    }
    .div_art_text1 {
  
        grid-area: div_art_text1_area;
    }
    .div_art_img2 {

        grid-area: div_art_img2_area;
    }
    .div_art_text2{

        grid-area: div_art_text2_area;
    }
    .div_art_img3{

        grid-area: div_art_img3_area;
    }
    .div_art_text3{

        grid-area: div_art_text3_area;
    }
    .div_art_video{

        grid-area: div_art_video_area;
    }
    .div_foot{
        grid-area: div_foot_area;
    }
}
